---
# Only the main Sass file needs front matter (the dashes are enough)
---

:root {
  --primary-color: #005fde;
  --highlight-bg: rgba(187, 255, 0, 0.5);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside.sidebar {
  width: 220px;
  height: 100vh;
  padding: 1rem 2rem;
  background: #edf0f3;
  -webkit-box-shadow: inset -1px 0px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset -1px 0px 2px rgba(0, 0, 0, 0.15);
  position: fixed;
  overflow-y: scroll;
}

#logo {
  margin: 0;
  display: flex;
  flex-direction: column;
  h1 {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    span {
      display: block;
      width: 100%;
    }
    div.small {
      font-size: 75%;
      display: block;
      font-weight: 600;
      letter-spacing: normal;
      width: 100%;
    }
  }
}

section.main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1rem 2rem;
  margin-left: 220px;
}

.mv-bar.mv-ui {
  height: 3rem;
  background: rgba(51, 51, 51, 0.7);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  button {
    font-size: 1.5em;
    padding: 0 1em;
  }
}

.mv-bar.mv-fixed + .wrapper {
  margin-top: 3rem;
}

[mv-app][mv-mode='edit'] .mv-editor:focus,
[mv-app] [mv-mode='edit'] .mv-editor:focus {
  box-shadow: none !important;
}

nav#main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    line-height: 2;
    + button.mv-ui {
      display: none !important;
    }
    a {
      display: block;
      input.mv-editor {
        width: auto !important;
        padding: 0 !important;
        border: 0 !important;
        border-radius: 0 !important;
        transition: none !important;
      }
    }
    &[mv-mode='edit'] + button.mv-ui {
      display: inline-block !important;
    }
  }

  ul {
    padding-left: 1.6rem;

    button.mv-ui {
      display: none !important;
    }

    &[mv-mode='edit'] button.mv-ui {
      display: inline-block !important;
    }

    li {
      padding: 0;
    }
  }
}

.mv-add-content.clear,
.mv-add-navPage.clear,
.mv-add-navSubPage.clear {
  padding-left: 0;
  color: var(--darkGrey-color);
}

li[property='page'] {
  list-style: none;
}

section.page {
  min-height: 100vh;
  border-bottom: 1px solid var(--lightGrey-color);
  margin: 0 0 5rem 0;

  .content {
    margin-bottom: 2rem;
  }

  section.subpage {
    padding-top: 3rem;
    min-height: 100vh;
  }

  .mv-add-section {
    display: block;
    margin-top: 1rem;
  }
}

#pages > :not([mv-mode='edit']) .mv-add,
#pages > :not([mv-mode='edit']) + .mv-add {
  display: none;
}

[property][mv-mode='edit']:not([typeof]):not([mv-group]):not(input):not(select):not(textarea):hover {
  -webkit-box-shadow: 0 0 0 50vmax var(--highlight-bg) inset;
  box-shadow: 0 0 0 50vmax var(--highlight-bg) inset;
  outline: 1px dashed var(--darkGrey-color);
}
